<div class="plots-container">
    <div class="header">
        <h4>all plots</h4>
        <button>add new plot</button>
    </div>
    <div id="plotForm">
        <h1>Add new plot!</h1>
        <form action="#">
            <input placeholder="title" type="text" required />
            <textarea placeholder="description"></textarea>
            <input class="formBtn" type="submit" />
        </form>
    </div>

    
    <!-- <ul>
        <li *ngFor="let plot of plots$ | async">
            <ul>
            <li>{{ plot.title }}</li>
            <li>{{ plot.totalArea }}</li>
            </ul>
        </li>
    </ul>  -->
    
    
</div>
